<div class="container">
    <div class="home">
        <%= link_to "BOTON Ingresar, SOLO PINCHE AQUI, si esta la sesion iniciada como adm. no esnecesario poner nada, si no esta ingresar admin@correo.cl password 123456", new_user_session_path, class: "btn btn-lg btn-primary text-white center-link link-underline-light" %>
    </div> 
</div> 
